.home .card {
    padding: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.05);
    margin-bottom: 20px;
  }

  
  .icon {
    position: relative;    
    cursor: pointer;
    filter: invert(60%);
    padding-left: 10px;
    padding-bottom: 5px;
    float: right;
    width: 3%;
    height: 3%;
  }


  .home .card .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .home .card .edit-button,
  .home .card .read-more {
    padding: 5px 10px;
    background-color: #4CAF50; /* Green background for edit button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .home .card .read-more {
    background-color: #008CBA; /* Blue background for read more button */
  }
  
  .home .card .icon {
    width: 20px;
    cursor: pointer;
  }
  